
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .main {
    display: flex;
    justify-content: center;
  }
  
  .main_cont {
    width: 25%;
    height:65vh;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
  }
  
  .add-task {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .add-task input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #4caf50;
    font-size: 1.2rem;
  }
  
  .add-task button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .add-task button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #ff9800;
    font-size: 1.2rem;
    line-height: 1.5;
    position: relative;
text-align: left;
  }
  
  .completed {
    text-decoration: line-through;
    color: #999;
  }
  
  button {
    margin-left: 20px;
    background-color: #f44336;
    color: #fff;
    padding:8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  
  @media screen and (max-width: 768px) {
    .main_cont {
      width: 100%;
      border: none;
      border-radius: 0;
    }
  }